<section class="header">
    <nav>
      <a href="#"><img src="../assets/logo.png" alt=""></a>
      <div class="nav-links">
        <ul>
         <!-- <li><a href="#">HOME</a></li>-->
          <button class="rounded-pill button"><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></button>
  
        </ul>
      </div>
    </nav>

    <div class="register-container row">
        <div class="col-8 forms">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" required>
                </div>
                <br>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" class="form-control" id="phone" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="payment">Transaction ID [If Paid]</label>
                    <input type="text" class="form-control">
                </div>
                <br>
                <button type="submit" class="btn btn-primary" style="padding: 5px 10px 5px 10px;">Submit</button>
              </form>
        </div>
        <div class="col-4 side" >
            <div class="qr">
                <img src="../../assets/QR.jpg" style="height: 3cm; width: 3cm;" alt="">
                <br>
                <div class="safe-text">Please don't forget to mention your name during payment. You will recieve the payment confimation mail
                    within a day. In case of any query contact 9524426245
                </div>
            </div>
        </div>
    </div>
</section>