*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;}
.header{
    height:fit-content;
    width: 100%;
    background: url(../assets/semi-top.svg) no-repeat ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #e5e5e5 ;}
nav{
    margin-left: 3cm;
    margin-right: 3cm;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;}
.nav-links{
    flex: 1;
    text-align: right;}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 1000;}
.nav-links ul button a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 1000;}
.button{
    background: #4aa4e2;
    border-width: 0ch;
    width: 100px;
    height: 50px;}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;}
.nav-links ul li:hover:after{
    width: 100%;}
.dyrac{
    margin-left: 6cm;
    margin-right: 6cm ;
    margin-top: 1cm;}
.dyrac img{
    width: 93%;}
h3{
    color:white;
    font-size: 2rem;}
h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;}
.intro{
    margin-left: 20px ;
    margin-top:20px;}
.intro p{
    color: white;
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: bolder;}
div.relative1 {
    position: relative;
    width: 700px;
    height: 150px;
    border: none;
    margin-top: 0.8cm;} 
div.absolute {
    position: absolute;
    top: 20px;
    left: 10px ;
    width: 585px;
    height: 110px;
    border: 1px solid white;
    border-radius: 15px ;}
div.abs1 {
    position: absolute;
    top: 0px;
    left: 25px ;
    width: 150px;
    height: 40px;
    border: 3px solid white;
    background: white;
    border-radius: 10px ;}
div.abs2 {
    position: absolute;
    top: 0px;
    left: 225px ;
    width: 150px;
    height: 40px;
    border: 3px solid white;
    background: white;
    border-radius: 10px ;}
div.abs3 {
    position: absolute;
    top: 0px;
    left: 425px ;
    width: 150px;
    height: 40px;
    border: 3px solid white;
    background: white;
    border-radius: 10px ;}
div.abs {
    position: absolute;
    top: 120px;
    left: 25px ;
    border: none;}
.icon{
    margin: auto;
    text-align: center;
    margin-top: 7px;
    font-size: 1.1rem;
    color: purple;
    font-weight: bolder;}
.icon span{
    margin-right: 5px;}
div.career{
    width: 400px;
    height: 300px;
    background: white;
    margin-top: 0.8cm;
    margin-left: 2cm;
    border-radius: 15px;}
div.market{
    width: 400px;
    height: 300px;
    background: white;
    margin-top: 0.8cm;
    margin-left: 5cm;
    border-radius: 15px;}
div.career-content-head{
    text-align: center;
    color: purple;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 30px;}
.career-content-head span{
    margin-left: 20px;}
div.career-content{
    margin: 1cm 1cm 1cm 1cm;
    font-size: 1.1rem;
    font-weight: 400;
    color: black;
    text-align: left;
}
div.featured{
    position: relative;
    width: 50%;
    height: fit-content;
    background: white;
    margin-top: 0.8cm;
    border-radius: 15px;}
div.instructor{
    width: 20%;
    height: fit-content;
    background: white;
    margin-top: 0.8cm;
    margin-left: 1cm;
    border-radius: 15px;}
div.learn{
    color: purple;
    font-size: 2rem;
    font-weight: bolder;
    margin: 1cm 1cm 1cm 2cm;}

div.featured-heading{
    position: absolute;
    top: 0;
    right: 1cm;
    width: 3.5cm;
    height: 1.2cm;
    border-radius: 0px 0px 15px 15px ;
    background: linear-gradient(#001f54,#19dac5);
    text-align: center;
    font-size: 1.5rem;
    color: white;
    line-height: 2.5rem;}
.magic{
    display: none;
}
div.learn-content{
    margin: 0.5cm 1cm 1cm 0cm;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2rem;
    color: black;}

ul{
    list-style-image: url('../assets/check.png');
}

div.instructor-detail{
    margin-bottom: 0.5cm;
}
div.instructor-heading{
    color: purple;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 1cm 1cm 1cm 1cm;
}

.instructor-img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 1cm;
}

div.instructor-name{
    margin-left: 1cm;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bolder;
}

div.instructor-desig{
    margin-left: 1cm;
    font-size: 0.9rem;
    color: rgb(179, 3, 179);
}


.learning-path{
    height: fit-content;
    width: 100%;
    background: white;
}

.l-path-head{
    color: rgb(165, 4, 165);
    text-align: center;
    margin-top: 1cm;
    font-weight: 500;
}

div.rel-flow{
    height: 23cm;
    width: 50vw;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

div.num-1{
    background: linear-gradient(#001f54,#19dac5);
    position: absolute;
    left:0;
    right:0;
    top: 1cm;
    margin-left: auto;
    margin-right: auto;
    height: 1cm;
    width: 2cm;
    z-index: 1;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1cm;
    border-radius: 5px;
}

div.box-1{
    position: absolute;
    left:0;
    right:0;
    top: 1.5cm;
    margin-left: auto;
    margin-right: auto;
    height: 3cm;
    width: 12cm;
    border: 1.5px solid #a8a8a8;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

div.line-1{
    position: absolute;
    left:0;
    right:0;
    top: 4.5cm;
    margin-left: auto;
    margin-right: auto;
    height: 3cm;
    width: 5px;
    background: #3f51b5;
}
div.num-2{
    background: linear-gradient(#001f54,#19dac5);
    position: absolute;
    left:0;
    right:0;
    top: 7cm;
    margin-left: auto;
    margin-right: auto;
    height: 1cm;
    width: 2cm;
    z-index: 1;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1cm;
    border-radius: 5px;
}

div.box-2{
    position: absolute;
    left:0;
    right:0;
    top: 7.5cm;
    margin-left: auto;
    margin-right: auto;
    height: 3cm;
    width: 12cm;
    border: 1.5px solid #a8a8a8;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
div.line-2{
    position: absolute;
    left:0;
    right:0;
    top: 10.5cm;
    margin-left: auto;
    margin-right: auto;
    height: 3cm;
    width: 5px;
    background: #3f51b5;
}

div.num-3{
    background: linear-gradient(#001f54,#19dac5);
    position: absolute;
    left:0;
    right:0;
    top: 13cm;
    margin-left: auto;
    margin-right: auto;
    height: 1cm;
    width: 2cm;
    z-index: 1;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1cm;
    border-radius: 5px;
}

div.box-3{
    position: absolute;
    left:0;
    right:0;
    top: 13.5cm;
    margin-left: auto;
    margin-right: auto;
    height: 3cm;
    width: 12cm;
    border: 1.5px solid  #a8a8a8;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
div.line-3{
    position: absolute;
    left:0;
    right:0;
    top: 16.5cm;
    margin-left: auto;
    margin-right: auto;
    height: 3cm;
    width: 5px;
    background: #3f51b5;
}

div.num-4{
    background: linear-gradient(#001f54,#19dac5);
    position: absolute;
    left:0;
    right:0;
    top: 19cm;
    margin-left: auto;
    margin-right: auto;
    height: 1cm;
    width: 2cm;
    z-index: 1;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1cm;
    border-radius: 5px;
}

div.box-4{
    position: absolute;
    left:0;
    right:0;
    top: 19.5cm;
    margin-left: auto;
    margin-right: auto;
    height: 3cm;
    width: 12cm;
    border: 1.5px solid  #a8a8a8;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

div.flow{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.7cm;
}

div.time{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 10px;
    color: #0E90A0;
}

.content-detail{
    width: 100%;
    height: fit-content;
    background: #e5e5e5;
}

.content-detail-head{
    //position: relative;
    color:#3F51B5;
    font-size: 1.2rem;
    font-weight: 800;
    margin-left: 5cm;
    margin-top: 2cm;
   // top: 2cm;
}

.detail-point{
    vertical-align: top;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 5cm;
    margin-top: 1cm;
    margin-right: 3cm;
    line-height: 1.1rem;
}

.footer{
    background: white;
    width: 100%;
    height: 20vh;
}

div.footer-style{
    margin-left: 5cm;
    margin-top: 1cm;
    margin-right: 3cm;
}

.f-image img{
    height: 100px;
}

div.copy{
    text-align: end;
    margin-top: 2.5cm;
    font-weight: bolder;
}

@media screen and (max-width: 480px){
    div.relative1{
        display: none;}
    *{
        width: 100%;}
    .header{
        width: 100vw;}
    
    nav{
        margin-left: 0cm;
        margin-right: 0cm;}

    nav img{
        width: 80px;}
    .nav-links ul button a{
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;}
    .button{
        background: #4aa4e2;
        border-width: 0ch;
        width: 70px;
        height: 30px;}
    .dyrac{
        margin-left: auto;
        margin-right: auto ;
        margin-top: 1cm;}
    div.avtar{
        text-align: center;}
    h3{
        color:white;
        font-size: 1.5rem;}
    h1{
        color: white;
        font-size: 2rem;
        line-height: 2.1rem;
        font-weight: 500;}
    div.intro{
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5cm;
        padding-right: 0.5cm;}
    .intro p{
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.3rem;}
    div.career{
        width: 380px;
        height: 350px;
        background: white;
        margin-top: 0.8cm;
        margin-left: 0.5cm;
        margin-right: 0.5cm;
        border-radius: 15px;}
    div.market{
        width: 380px;
        height: 350px;
        background: white;
        margin-top: 0.8cm;
        margin-left: 0.5cm;
        margin-right: 0.5cm;
        border-radius: 15px;}

    div.career-content{
        margin-left: auto;
        margin-right: auto;
        padding-right: 0.5cm;
        padding-left: 0.7cm;
        font-size: 1.1rem;
        font-weight: 400;}
    .magic{
        display:flex;
    }
    div.instructor{
        margin-left: 0.5cm;
        width: 350px;
        text-align: center;
    }
    div.instructor-detail{
        margin-bottom: 0.5cm;
    }
    div.instructor-heading{
        margin: 1cm 0cm 1cm 0cm;
    }

    .instructor-img img{
        margin-left: 0cm;
    }

    div.instructor-name{
        margin-left: 0cm;
    }

    div.instructor-desig{
        margin-left: 0cm;
    }
    div.featured{
        position: relative;
        width: 380px;
        height: fit-content;
        margin-top: 0.8cm;
        border-radius: 15px;}
    
    div.learn{
        font-size: 2rem;
        font-weight: bolder;
        margin-top: 2cm;
        margin-right: 0cm;
    }
    
    div.featured-heading{
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    div.learn-content{
        width: 300px ;}

    .learn-content{
        width: 300px;
    }
    .content-detail-head{
        margin-left: 0.5cm;
    }
    
    .detail-point{
        margin-left: 1.2cm;
        margin-right: 3.3cm;
        width: 350px;
    }
    div.rel-flow{
        height: 23cm;
        width: 100%;
    }
    div.box-1{
        width: 380px;
    }
    div.box-2{
        width: 380px;
    }div.box-3{
        width: 380px;
    }div.box-4{
        width: 380px;
    }
    .time span{
        display: none;
    }
        
    .footer{
        width: 100%;
        height: 34vh;
    }

    div.footer-style{
        margin-left: 0.5cm;
        margin-right: 0.5cm;
    }
    div.f-image{
        text-align: center;
    }
    .f-image img{
        height: 100px;
        width: auto;
    }

    div.copy{
        text-align: center;
        margin-top: 0cm;
    }

}