<section class="header">
  <nav>
    <a href="#"><img src="../assets/logo.png" alt=""></a>
    <div class="nav-links">
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">CONTACT US</a></li>
        <li><a href="#">COURSES</a></li>
        <button class="rounded-pill button"><a href="#">JOIN US</a></button>

      </ul>
    </div>
  </nav>

  <div class="row dyrac">
    <div class="col-sm-4"><img src="../assets/Intro.jpg" alt=""></div>
    <div class="col-sm-8">
      <div class="intro">
        <h3>LEARNING PATH</h3>
        <h1>Become a Business Intelligence (BI) Analyst</h1>
        <p>A Business Intelligence (BI) analyst is someone who is responsible for analyzing organizational data supporting the 
          decision making processes. There is a large amount of data that is generated throughout the lifecycle of the organization. 
          Making the most of this data and maximizing its utility through intelligent decision making is the work of a BI Analyst.
        </p>
      </div>

      <div class="relative1">
        <div class="absolute">

        </div>
        <div class="abs1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
          </svg>
        </div>
        <div class="abs2">

        </div>
        <div class="abs3">

        </div>
      </div>
    </div>
    
  </div>

</section>