@import url(../app.component.scss);

div.queries-form{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

button{
    padding: 5px 10px 5px 10px;
}